CodeMaze/Connected Services/MazeSolverService/MazeSolverService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MazeSolver">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maze" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MazeSolverResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MazeSolverResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MazeSolverSoapIn">
    <wsdl:part name="parameters" element="tns:MazeSolver" />
  </wsdl:message>
  <wsdl:message name="MazeSolverSoapOut">
    <wsdl:part name="parameters" element="tns:MazeSolverResponse" />
  </wsdl:message>
  <wsdl:portType name="MazeSolverServiceSoap">
    <wsdl:operation name="MazeSolver">
      <wsdl:input message="tns:MazeSolverSoapIn" />
      <wsdl:output message="tns:MazeSolverSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MazeSolverServiceSoap" type="tns:MazeSolverServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MazeSolver">
      <soap:operation soapAction="http://tempuri.org/MazeSolver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MazeSolverServiceSoap12" type="tns:MazeSolverServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MazeSolver">
      <soap12:operation soapAction="http://tempuri.org/MazeSolver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MazeSolverService">
    <wsdl:port name="MazeSolverServiceSoap" binding="tns:MazeSolverServiceSoap">
      <soap:address location="http://localhost:62278/MazeSolverService.asmx" />
    </wsdl:port>
    <wsdl:port name="MazeSolverServiceSoap12" binding="tns:MazeSolverServiceSoap12">
      <soap12:address location="http://localhost:62278/MazeSolverService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>